# most of the options are from https://blog.gitbutler.com/how-git-core-devs-configure-git

[core]
    excludesfile = ~/.gitignore
    # http://www.git-tower.com/blog/make-git-rebase-safe-on-osx/
    trustctime = false
    # http://michael-kuehnel.de/git/2014/11/21/git-mac-osx-and-german-umlaute.html
	precomposeunicode = false
    pager = delta

[alias]
    a = add
    aa = add -A
    b = branch
    bb = !~/.nu_scripts/git/list-branches.nu
    ca = commit --amend --no-edit
    ce = commit --amend --edit
    cm = commit --message
    d = diff
    dd = diff --cached
    f = fetch
    history = !~/.nu_scripts/git/file-history.nu
    l = log --pretty='tformat:%C(green)[%ad]%C(reset) %C(yellow)%h%C(reset) %C(blue)%ae%C(reset)%C(red)%d%C(reset) %s' --date='format:%d.%m.%y %H:%M'
    p = push
    r = restore
    rs = restore --staged
    s = status

[user]
	name = Stefan Schwaighofer
	email = ste.schwaighofer@gmail.com

	signingkey = ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQC6jsA2NuV4zBZzvR8q/FgKJA7tEwSOBcbTPvZYFIWLschZQnTjiJTU96CIw6oooetxFVkDCuTypVdMZqejg9IFi9y260DRl0+OC1SEcdSKt+OJ3nmFlED6U8i0myNaU/kkoxdzYiY7hB3OCeV5xR6ofsDk8ET/QkYzovizcEhRgIrY/XbmITW9AU3iL8uYSNW64ejdQPdSGT+XokmhdJ8JledHjHsDLg+A0yeTA78m8s4vhqfnhi0LCMVYeMj3zOYrMncj7LWznk5NuUW7szkvmISoyhscgV7EtIsFd29YBjWEppbsedU45ntG33XhDyWXpetiCAq6ZNX42D2FiNn88l3R3fjcmosqtPyieHr1tl2jssEBUCgxfceJzuW6PVMqM8LJJY9scZLSk00tm68wj+yC3OaeMsPhzoFFnwEZs8JigXP51gGULn/jRvlgG/nPwksr4Z8ZEto30d+8WBn3tZ4KsrQEW1tsOjqKI+poljdd3jiyDMznSAdglE1malUHE5Xda7KxYCtKknntLJvSm5gAGO9i2vgvWKdl60Qg0hCUhdIyexnGKIZg5CLPJmcMrWMJnYDCMGf47XKvtU0o3bl1HAM52AosmUhPrNu60wMGLL1DFdb+uzCl8JLWb9c2Uw+oe9ePhk1ggzLtaPZgnTvY7B+XHE8zfgX0Yi64BQ==

[include]
    path = ~/.config/delta/themes.gitconfig

[init]
	defaultBranch = main

[gpg]
	format = ssh

[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign

[commit]
	gpgsign = true
	verbose = true

[pull]
	rebase = true

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[branch]
	sort = -committerdate

[tag]
	sort = version:refname

[diff]
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	renames = true

[push]
	autoSetupRemote = true
	followTags = true

[fetch]
	prune = true
	pruneTags = true
	all = true

[help]
	autocorrect = never

[rerere]
	enabled = true
	autoupdate = true

[rebase]
	autoSquash = true
	autoStash = true
	updateRefs = true

[interactive]
    diffFilter = delta --color-only

[delta]
    features = theme-steschwa
    navigate = true
    side-by-side = true
