{
    "arrowParens": "avoid",
    "bracketSpacing": true,
    "bracketSameLine": true,
    "htmlWhitespaceSensitivity": "css",
    "insertPragma": false,
    "jsxSingleQuote": false,
    "proseWrap": "preserve",
    "quoteProps": "as-needed",
    "requirePragma": false,
    "semi": false,
    "singleQuote": false,
    "trailingComma": "all",
    "useTabs": false,
    "vueIndentScriptAndStyle": false,
    "printWidth": 100,
    "tabWidth": 4,
    "overrides": [
        {
            "files": "*.svg",
            "options": {
                "parser": "html"
            }
        }
    ]
}
